<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>2-2 Sem</title>
    <link rel="icon" type="image/x-icon" href="./static/images/logo.png"> 
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/stylesheet.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/bar.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/table.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>

        <div class="dropdown">
            <button class="dropbtn">H&S
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                
                <a href="{{ url_for('h1_2') }}">1-2 Sem</a>
                
              </div>
        </div>
        
        <div class="dropdown">
            <button class="dropbtn">ECE
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('es2_1') }}">2-1 Sem</a>
                <a href="{{ url_for('es2_2') }}">2-2 Sem</a>
                <a href="{{ url_for('es3_1') }}">3-1 Sem</a>
                <a href="https://drive.google.com/file/d/1cdJoEwYHeqdDeDviK0nKYSKGEcyTuPsd/view?usp=sharing">Syllabus paper</a>
              </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">CSE
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('cs2_1') }}">2-1 Sem</a>
                <a href="{{ url_for('cs2_2') }}">2-2 Sem</a>
                <a href="{{ url_for('cs3_1') }}">3-1 Sem</a>
                <a href="https://drive.google.com/file/d/1cc2kOUXBQP-NS0_qXg_8kB5RwvD-gmV0/view?usp=sharing">Syllabus paper</a>
              </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Civil
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('ci3_1') }}">3-1 Sem</a>
                <a href="https://drive.google.com/file/d/1jnTNdCdEiSlqXkzfwa5w3MUZ5hGUZYxr/view?usp=sharing">Syllabus Paper</a>
                
              </div>
        </div>
    </div> 
    <h style="background-color: red; color: white; margin-top: 4%; text-align: center;">
        Click on unit number of specific subject to download the file</h>

        <h style="background-color: red; color: white; margin-top: 4%; text-align: center;">
            <br> Subject Abbrevations<br> </h>
        <h style="background-color: red; color: white; margin-top: 4%; text-align: center;">
            CN- Computer Networks <br> FLAT - Formal Languages and Automata
            Theory<br> NSM - Numerical and Statistical Methods <br>
        OS- Operating Systems <br>
    SDE - Software Design and Engineering</h>
<table>
    <tr>
    <th>Unit No</th>
    <th>CN</th>
    <th>FLAT</th>
    <th>NSM</th>
    <th>OS</th>
    <th>SDE</th>
    </tr>
    <tr>
      <th> 1.</th>
      <th><a href="https://docs.google.com/document/d/1NPgr5qu_Gx54dyKnTT7bL8di9OnsYEQm/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-1</a></th> 
      <th><a href="https://drive.google.com/file/d/1-cMt7R6sB1KDrXETaylhiUqmn6xPWP6Y/view?usp=sharing">Unit-1</a>
    <br> <a href="https://drive.google.com/file/d/1YLWf95JN6SzgLHlmiJ3b8ppFboaHD3GO/view?usp=sharing">unit-1</a></th>  
      <th><a href="https://docs.google.com/document/d/1Tkvw1rVFOrm8F7MTGc9HFRPEmO9OtkVS/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-1</a><br> 
    <a href="https://drive.google.com/file/d/1cyw7c0gcvcd9ZgMXIa4312diu-cEgo1e/view?usp=sharing"></a></th>  
      <th><a href="https://docs.google.com/presentation/d/1WAmki46Voeu8U5gt_8fqi5CxCdSFG51e/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-1</a></th> 
      <th><a href="https://docs.google.com/document/d/1FSNO1ORRY_uG4pzKz5OZtOFZGQ05x2D2/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-1</a></th>  
    </tr>
    <tr>
    <th>2.</th>
    <th>Not Availabel</th>
    <th>Not Availabel</th>
    <th><a href="https://drive.google.com/file/d/1cyw7c0gcvcd9ZgMXIa4312diu-cEgo1e/view?usp=sharing">Unit-2</a></th>
    <th><a href="https://docs.google.com/presentation/d/1HJABtztOCbrvS56FD-3cY4b7Og-ToNhi/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-2</a>
    <br><a href="https://docs.google.com/presentation/d/18ueoPGpzpgvWUWvo7M0oDwgwLgYPR2Vx/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-2</a>
    <br><a href="https://drive.google.com/file/d/1WayBkvw7LT4CLXLNaCLUjITe5rVSUmbj/view?usp=sharing">Unit-2</a></th>
    <th><a href="https://docs.google.com/document/d/1r01me5Odvv8HNMaS9q5vzuxBFra1i-Jr/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-2</a></th>
    </tr>
    <tr>
        <th>3.</th>
        <th><a href="https://drive.google.com/file/d/1E1on9CO5Ljcs2wJOYvzHaaqx65XkFu2m/view?usp=sharing">Unit-3</a></th>
        <th><a href="https://drive.google.com/file/d/1ekqUXToRqKveAILcKTr43T6z9lVftxxP/view?usp=sharing">Unit-3</a></th>
        <th><a href="https://drive.google.com/file/d/1OGImrOG9PfDORjxFeMKgY2QiuYUIJLam/view?usp=sharing">Unit-3</a></th>
        <th>Not Availabel</th>
        <th><a href="https://docs.google.com/document/d/16yUeakrsyjAZbexwhC1QRgngh3EpNbLa/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-3</a></th>    
    </tr>
    <tr>
        <th>4.</th>
        <th><a href="https://drive.google.com/file/d/1oOrbJIOX8ocd3-6jbLYCR_gdMkPHD2JP/view?usp=sharing">Unit-4</a></th>  
        <th>Not Availabel</th>
        <th>Not Availabel</th>
        <th><a href="https://docs.google.com/document/d/1hUrVxC6u9RjGGTEXY577se0eaG-WlUaj/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-4</a></th>
        <th><a href="https://docs.google.com/document/d/1QgrCFPDhZ0PLehKjozVHg-ZmWVlQx550/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-4</a></th>        
    </tr>
    <tr>
        <th>5.</th>
        <th><a href="https://drive.google.com/file/d/1oOrbJIOX8ocd3-6jbLYCR_gdMkPHD2JP/view?usp=sharing">Unit-5</a></th>
        <th>Not Availabel</th>
        <th>Not Availabel</th>
        <th><a href="https://docs.google.com/document/d/15l7TkdIR1BWW9Do_-PE5r8HvdcW-XQ1T/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-5</a></th>
        <th><a href="https://docs.google.com/document/d/1p_kc3aA4ymvlHIIaXrDtfLACStOK04o4/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-5</a></th>          
    </tr>

</table>
</body>
</html>
