<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>3-1 Sem</title>
    <link rel="icon" type="image/x-icon" href="./static/images/logo.png"> 
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/stylesheet.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/bar.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/table.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>

        <div class="dropdown">
            <button class="dropbtn">H&S
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                
                <a href="{{ url_for('h1_2') }}">1-2 Sem</a>
                
              </div>
        </div>
        
        <div class="dropdown">
            <button class="dropbtn">ECE
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('es2_1') }}">2-1 Sem</a>
                <a href="{{ url_for('es2_2') }}">2-2 Sem</a>
                <a href="{{ url_for('es3_1') }}">3-1 Sem</a>
                <a href="https://drive.google.com/file/d/1cdJoEwYHeqdDeDviK0nKYSKGEcyTuPsd/view?usp=sharing">Syllabus paper</a>
              </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">CSE
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('cs2_1') }}">2-1 Sem</a>
                <a href="{{ url_for('cs2_2') }}">2-2 Sem</a>
                <a href="{{ url_for('cs3_1') }}">3-1 Sem</a>
                <a href="https://drive.google.com/file/d/1cc2kOUXBQP-NS0_qXg_8kB5RwvD-gmV0/view?usp=sharing">Syllabus paper</a>
              </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Civil
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('ci3_1') }}">3-1 Sem</a>
                <a href="https://drive.google.com/file/d/1jnTNdCdEiSlqXkzfwa5w3MUZ5hGUZYxr/view?usp=sharing">Syllabus Paper</a>
                
              </div>
        </div>
    </div> 
    <h style="background-color: red; color: white; margin-top: 4%; text-align: center;">
        Click on unit number of specific subject to download the file</h>
        <h style="background-color: red; color: white; margin-top: 4%; text-align: center;">
            <br> Subject Abbrevations<br> </h>
        <h style="background-color: red; color: white; margin-top: 4%; text-align: center;">
            AI-  Artificial Intelligence <br> CD - Compiler Design <br>
             DAA - Design & Analysis of Algorithms <br>
        DMA - Data Mining and Analytics <br>
    WT -  Web technologies</h>
<table>
    <tr>
    <th>Unit No</th>
    <th>AI</th>
    <th>CD</th>
    <th>DAA</th>
    <th>DMA</th>
    <th>WT</th>
    </tr>
    <tr>
      <th> 1.</th>
      <th><a href="https://docs.google.com/presentation/d/1Pqx0B9nGaIguQYWS2LtPir3RoFXLaLPi/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-1</a>
    <br><a href="https://drive.google.com/file/d/1c8qWSa8-upKZpIDoj9lythmWIJz3Ti7f/view?usp=sharing">Unit-1_1</a></th> 
      <th>Not Availabel</th>  
      <th><a href="https://drive.google.com/file/d/1Qi3zB412MFCkNbIxN1RjgbKaSPgUEo-N/view?usp=sharing">Unit-1</a><br> </th>  
      <th><a href="https://drive.google.com/file/d/1_he4IdQXEek1PmDp7I5jCQrAK7xv8FnM/view?usp=sharing">Unit-1</a>
    <br> <a href="https://drive.google.com/file/d/1sCQ0uSNljortMBtPIs-0raeZnWnFuXw0/view?usp=sharing">Unit-1</a>
    <br> <a href="https://drive.google.com/file/d/1kZwxx0eizI6qe8epgoJ7rOjSqix-CeLD/view?usp=sharing">Unit-1</a></th> 
      <th><a href="https://docs.google.com/document/d/1y4PJI2h6fpKre_rPhq1_KUalLUfjORY8/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-1 Html tags</a>
    <br><a href="https://docs.google.com/presentation/d/15PboHJ-oyVT3W7WLq6r41-Vgt3KvGU_F/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-1</a></th>  
    </tr>
    <tr>
    <th>2.</th>
    <th><a href="https://docs.google.com/presentation/d/1zRi5hQPs_klj0ODYHfdov0xzLewHDPMy/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-2</a></th>
    <th><a href="https://drive.google.com/file/d/16Gr0u_hFvWPeWzX_0XFJ6CSbD7RPAqxf/view?usp=sharing">Unit-2</a></th>
    <th>Not Availabel</th>
    <th><a href="https://drive.google.com/file/d/1kZwxx0eizI6qe8epgoJ7rOjSqix-CeLD/view?usp=sharing">Unit-2</a>
    <br><a href="https://drive.google.com/file/d/1bvdCNYVDKROLTaYlxdJEElSM2PamLA3o/view?usp=sharing">Unit-2 </a></th>
    <th><a href="https://docs.google.com/presentation/d/1SzZ95kj83YqCajpjX1V6axbsfgbylXGr/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-2</a>
    <br><a href="https://docs.google.com/presentation/d/1GCH0fIiSdcNxJjCweR47UGf-TdKfzJdN/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-2</a></th>
    </tr>
    <tr>
        <th>3.</th>
        <th><a href="https://docs.google.com/presentation/d/11AYC7RR6v-oxzPJXMOL6YvS8sJXn0oft/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-3</a></th>
        <th>Not Availabel</th>
        <th>Not Avaliabel</th>
        <th><a href="https://drive.google.com/file/d/1kZwxx0eizI6qe8epgoJ7rOjSqix-CeLD/view?usp=sharing">Unit-3</a>
        <br><a href="https://drive.google.com/file/d/1A3q8VkduxVHf_8OLjNkqnx5ZBeOIAh6h/view?usp=sharing">Unit-3</a></th>
        <th><a href="https://docs.google.com/presentation/d/1JorDz3SIlbOigCCnFIyb4XDDYA94qCz6/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-3</a>
        <br><a href="https://docs.google.com/presentation/d/1Soy0pJxlhdX57hk2yoctlhwoJVQv_Qzd/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-3</a></th>    
    </tr>
    <tr>
        <th>4.</th>
        <th><a href="https://docs.google.com/presentation/d/1dT0zVqO3OsEVVnUU8q2MNLcZYIpwlMiK/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-4</a></th>  
        <th><a href="https://drive.google.com/file/d/1aU3Tlby1hr6fURSGADZwT-JOc1KxSe5N/view?usp=sharing">Unit-4_1</a></th>
        <th>Not Availabel</th>
        <th>Not Availabel</th>
        <th><a href="https://docs.google.com/presentation/d/1o-y-Xn0WbED00ToEmRXCYmLO5qZ6L5MF/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-4</a></th>        
    </tr>
    <tr>
        <th>5.</th>
        <th><a href="https://docs.google.com/presentation/d/1-p4rup_sLBAp1TAkXazOd6jlOrSDL8Ad/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-5</a></th>
        <th><a href="https://drive.google.com/file/d/1kLsgzgRmssLCmfDi3Xc8Jh_8YbsvOJfe/view?usp=sharing">Unit-5</a></th>
        <th>Not Avaliabel</th>
        <th><a href="https://drive.google.com/file/d/1Qks5pDK6hiqROVXSeh0rmurJ-zbgb1o9/view?usp=sharing">Unit-5</a></th>
        <th><a href="https://docs.google.com/presentation/d/19mw_ySDSWA8UxQvH4MNGMBdu0W1q6Nzm/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-5</a>
        <br><a href="https://docs.google.com/presentation/d/17UfbLuf49ysZqzewnEAjgPilL7Kn2QqX/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-5</a></th>          
    </tr>

</table>
</body>
</html>
