<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>2-2 Sem</title>
    <link rel="icon" type="image/x-icon" href="./static/images/logo.png"> 
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/stylesheet.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/bar.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/table.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>

        <div class="dropdown">
            <button class="dropbtn">H&S
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                
                <a href="{{ url_for('h1_2') }}">1-2 Sem</a>
                
              </div>
        </div>
        
        <div class="dropdown">
            <button class="dropbtn">ECE
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('es2_1') }}">2-1 Sem</a>
                <a href="{{ url_for('es2_2') }}">2-2 Sem</a>
                <a href="{{ url_for('es3_1') }}">3-1 Sem</a>
              </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">CSE
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('cs2_1') }}">2-1 Sem</a>
                <a href="{{ url_for('cs2_2') }}">2-2 Sem</a>
                <a href="{{ url_for('cs3_1') }}">3-1 Sem</a>
              </div>
        </div>
    </div> 
    <h style="background-color: red; color: white; margin-top: 4%; text-align: center;">
        Click on unit number of specific subject to download the file</h>
<table>
    <tr>
    <th>Unit No</th>
    <th>PDC</th>
    <th>LDICA</th>
    <th>EMTL</th>
    <th>DDCO</th>
    <th>CS</th>
    </tr>
    <tr>
      <th> 1.</th>
      <th><a href="https://drive.google.com/file/d/1x1y171aZgamTu8l_tz5shhj9vGmS6uEO/view?usp=sharing">Unit-1</a></th> 
      <th><a href="https://drive.google.com/file/d/1b5BN-yfX9Y7tXCRCSbE2xJiAvKaerOLY/view?usp=sharing">Unit-1_1</a> <br> <a href="https://drive.google.com/file/d/1SMpEClMthvlHGqI841KnH0L3r2lkLplO/view?usp=sharing">Unit-1_2</a></th>
      <th><a href="https://drive.google.com/file/d/1Ub_faVKnxK27Bu5xolDoMequLj1yj_v3/view?usp=sharing">Unit-1</a></th>
      <th><a href="https://drive.google.com/file/d/1pHw8oHpa8i_SnCgPfyxx86I0NxtXO-a5/view?usp=sharing">Unit-1_1</a> <br> <a href="https://drive.google.com/file/d/1Aqm9BR1WBUvyXin4l7XMaJO6UH3gQ3rb/view?usp=sharing">Unit-1_2</a></th>
      <th><a href="https://drive.google.com/file/d/15lFzHFgss0lbaMKkHsej9dQQw4d339O6/view?usp=sharing">Unit-1</a></th> 
    </tr>
    <tr>
    <th>2.</th>
    <th><a href="https://drive.google.com/file/d/1zVF-P_v8lVD_D5WtTslMiWitXWSx-4kg/view?usp=sharing">Unit-2</a></th>
    <th><a href="https://drive.google.com/file/d/1JNRwWo9TzaxbSovB5goq-rSM6rST-23f/view?usp=sharing">Unit-2_1</a><br><a href="https://drive.google.com/file/d/1Yr6EjaLRp2FSDzczEui-9lbK_oNn5_Uz/view?usp=sharing">Unit-2_2</a></th> 
    <th><a href="https://drive.google.com/file/d/1yNdCBZTZeKR4JL0LBuIBLNh8TRXd8vlD/view?usp=sharing">Unit-2</a></th>
    <th><a href="https://drive.google.com/file/d/1Z_vWSRS2YJRV5L2DyVAVMpuXQG-OWLGs/view?usp=sharing">Unit-2</a></th>
    <th><a href="https://drive.google.com/file/d/13b2CFFiujD7DYKklAzMmqtLhO0s0gxSh/view?usp=sharing">Unit-2</a></th>    
    </tr>
    <tr>
        <th>3.</th>
        <th><a href="https://drive.google.com/file/d/1eGmeMhdBA28RR1QcP6Jetx3D6EJtVPKB/view?usp=sharing">Unit-3</a></th>
        <th><a href="https://drive.google.com/file/d/1SscSzp2h35IBUpNa2rhgBeeLxD1cPf_U/view?usp=sharing">Unit-3_1</a>
        <br> <a href="https://drive.google.com/file/d/1a6vOGzmYqkIz-bfLt5rTnxEfUAqNj8ux/view?usp=sharing">Unit-3_2</a></th>
        <th><a href="https://drive.google.com/file/d/10_NYGMJ8O5u5MsEGy3o-6_6dMewaBJn6/view?usp=sharing">Unit-3</a></th>
        <th><a href="https://drive.google.com/file/d/1sq30Td73Dg12aaoKunHNJIk1iO-avGVv/view?usp=sharing">Unit-3</a></th>
        <th><a href="https://drive.google.com/file/d/1lYttjj_SSxWBaJOAT5ttECYiRBhF_PGJ/view?usp=sharing">Unit-3</a></th>         
    </tr>
    <tr>
        <th>4.</th>
        <th><a href="https://drive.google.com/file/d/1AqDb1DIuoPJGO4mL6_KhpsCjznbnYq2-/view?usp=sharing">Unit-4</a></th>
        <th><a href="https://drive.google.com/file/d/1FPcD_wWWOEWE9vBe9GLCe5eORZiX3dex/view?usp=sharing">Unit-4_1</a><br>
        <a href="https://drive.google.com/file/d/1zvB22h_5uCkKx8uf-tbuHXs9RI4bARD9/view?usp=sharing">Unit-4_2</a><br>
    <a href="https://docs.google.com/presentation/d/1d2bjPbBcGsZzQS8zhT--LmtcwUBVAE_0/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-4_3</a></th>
    <th><a href="https://drive.google.com/file/d/1ctmhZFkHT8Rt1D7-2wR6jq3FLNjj97gl/view?usp=sharing">Unit-4</a></th>
    <th><a href="https://drive.google.com/file/d/1i4dp-wgW3xdVceCHxXYo74RT3fKQ4JOt/view?usp=sharing">Unit-4</a></th>
    <th>Not Availabel</th>            
    </tr>
    <tr>
        <th>5.</th>
        <th><a href="https://drive.google.com/file/d/1ltkM1HSI_6uNuqv1VeuCDpUYDUPWdx7B/view?usp=sharing">Unit-5</a></th>
        <th><a href="https://docs.google.com/presentation/d/1DF_GCO1Dvcfnfde4y40lzmxoDxTo1Oq-/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-5</a></th>
        <th><a href="https://drive.google.com/file/d/17FxB5NSdzqYXu0gC1vy51gEog65inr1U/view?usp=sharing">Unit-5</a></th>
        <th><a href="https://drive.google.com/file/d/1WU1w3zWIgBmBCEvL5znynO9XvyrIVR68/view?usp=sharing">Unit-5</a></th>
        <th><a href="https://drive.google.com/file/d/1ICha4Xlk8002XNA6pVo6L7nbxc6IKduC/view?usp=sharing">Unit-5 problems</a>
        <br> <a href="https://drive.google.com/file/d/1XmZRgQUzbZ9JemaALjkBM5yk33nM-3tz/view?usp=sharing">Unit-5</a></th>     

</table>
</body>
</html>
