<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>3-2 Sem</title>
    <link rel="icon" type="image/x-icon" href="./static/images/logo.png"> 
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/stylesheet.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/bar.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/table.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>

        <div class="dropdown">
            <button class="dropbtn">H&S
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                
                <a href="{{ url_for('h1_2') }}">1-2 Sem</a>
                
              </div>
        </div>
        
        <div class="dropdown">
            <button class="dropbtn">ECE
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('es2_1') }}">2-1 Sem</a>
                <a href="{{ url_for('es2_2') }}">2-2 Sem</a>
                <a href="{{ url_for('es3_1') }}">3-1 Sem</a>
                <a href="{{ url_for('es3_2') }}">3-2 Sem</a>
                <a href="https://drive.google.com/file/d/1cdJoEwYHeqdDeDviK0nKYSKGEcyTuPsd/view?usp=sharing">Syllabus paper</a>
              </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">CSE
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('cs2_1') }}">2-1 Sem</a>
                <a href="{{ url_for('cs2_2') }}">2-2 Sem</a>
                <a href="{{ url_for('cs3_1') }}">3-1 Sem</a>
                <a href="{{ url_for('cs3_2') }}">3-2 Sem</a>
                <a href="https://drive.google.com/file/d/1cc2kOUXBQP-NS0_qXg_8kB5RwvD-gmV0/view?usp=sharing">Syllabus paper</a>
              </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Civil
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('ci3_1') }}">3-1 Sem</a>
                <a href="https://drive.google.com/file/d/1jnTNdCdEiSlqXkzfwa5w3MUZ5hGUZYxr/view?usp=sharing">Syllabus Paper</a>
                
              </div>
        </div>
    </div> 
    <h style="background-color: red; color: white; margin-top: 4%; text-align: center;">
        Click on unit number of specific subject to download the file</h>
<table>
    <tr>
    <th>Unit No</th>
    <th>MWE</th>
    <th>VLSI</th>
    <th>AI</th>
    <th>DIP</th>
    <th>Java</th>
    </tr>
    <tr>
      <th> 1.</th>
      <th><a href="https://docs.google.com/document/d/1YeiybvHnYg3K_zCK1rEbNRfQk04dEEuo/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-1</a></th>
      <th><a href="https://drive.google.com/file/d/1Ak-VwKW3qhhQDQoW86mxPS7JyAx_sDYa/view?usp=sharing">Unit-1</a> <br>
    <a href="https://drive.google.com/file/d/1Bd3LbEab9u7GogspvUeJ-oD_3N0bqREb/view?usp=sharing">Unit-1</a></th>
      <th><a href="https://docs.google.com/presentation/d/1Pqx0B9nGaIguQYWS2LtPir3RoFXLaLPi/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-1</a></th>
      <th>Not Availabel</th>
      <th>Not Availabel</th> 
        
    </tr>
    <tr>
    <th>2.</th>
    <th><a href="https://docs.google.com/document/d/1SnmbiJ0WZKvYUlHBPxpoLbAcgXXw5Sfp/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-2</a></th>
    <th><a href="https://drive.google.com/file/d/1Bd3LbEab9u7GogspvUeJ-oD_3N0bqREb/view?usp=sharing">Unit-2</a></th>
    <th><a href="https://docs.google.com/presentation/d/1zRi5hQPs_klj0ODYHfdov0xzLewHDPMy/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-2</a></th>
    <th>Not Availabel</th>
    <th>Not Availabel</th>
    </tr>
    <tr>
        <th>3.</th>
        <th>Not Availabel</th>
        <th><a href="https://drive.google.com/file/d/1Bd3LbEab9u7GogspvUeJ-oD_3N0bqREb/view?usp=sharing">Unit-3</a></th>
        <th><a href="https://docs.google.com/presentation/d/11AYC7RR6v-oxzPJXMOL6YvS8sJXn0oft/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-3</a></th>
        <th>Not Availabel</th>
        <th>Not Availabel</a></th>
    </tr>
    <tr>
        <th>4.</th>
        <th>Not Availabel</th>
        <th>Not Availabel</th>
        <th><a href="https://docs.google.com/presentation/d/1dT0zVqO3OsEVVnUU8q2MNLcZYIpwlMiK/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-4</a></th>
        <th>Not Availabel</th>
        <th>Not Availabel</th>      
    </tr>
    <tr>
        <th>5.</th>
        <th>Not Availabel</th>
        <th>Not Availabel</th>
        <th><a href="https://docs.google.com/presentation/d/1-p4rup_sLBAp1TAkXazOd6jlOrSDL8Ad/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-5</a></th>
        <th>Not Availabel</th>
        <th>Not Availabel</th>
    </tr>

</table>
</body>
</html>
