<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>2-1 Sem</title>
    <link rel="icon" type="image/x-icon" href="./static/images/logo.png"> 
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/stylesheet.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/bar.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/table.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>

        <div class="dropdown">
            <button class="dropbtn">H&S
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                
                <a href="{{ url_for('h1_2') }}">1-2 Sem</a>
                
              </div>
        </div>
        
        <div class="dropdown">
            <button class="dropbtn">ECE
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('es2_1') }}">2-1 Sem</a>
                <a href="{{ url_for('es2_2') }}">2-2 Sem</a>
                <a href="{{ url_for('es3_1') }}">3-1 Sem</a>
              </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">CSE
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('cs2_1') }}">2-1 Sem</a>
                <a href="{{ url_for('cs2_2') }}">2-2 Sem</a>
                <a href="{{ url_for('cs3_1') }}">3-1 Sem</a>
              </div>
        </div>
    </div> 
    <h style="background-color: red; color: white; margin-top: 4%; text-align: center;">
        Click on unit number of specific subject to download the file</h>
<table>
    <tr>
    <th>Unit No</th>
    <th>M2</th>
    <th>AP</th>
    
    </tr>
    <tr>
      <th> 1.</th>
      <th><a href="https://docs.google.com/document/d/15upCShCpp6wn0Kp7zXhQ-sPA2uWaMFiC/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-1</a>
    <br> <a href="https://docs.google.com/document/d/15upCShCpp6wn0Kp7zXhQ-sPA2uWaMFiC/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-1</a></th>
    <th><a href="https://drive.google.com/file/d/1aaB7vOEw_Wn9puVUfyH53xWdBgHObCc4/view?usp=sharing">Unit-1</a></th>
       
    </tr>
    <tr>
    <th>2.</th>
    <th><a href="https://docs.google.com/document/d/15upCShCpp6wn0Kp7zXhQ-sPA2uWaMFiC/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-2</a></th>
    <th><a href="https://drive.google.com/file/d/1aaB7vOEw_Wn9puVUfyH53xWdBgHObCc4/view?usp=sharing">Unit-2</a></th>
    </tr>
    <tr>
        <th>3.</th>
        <th> <a href="https://docs.google.com/document/d/15upCShCpp6wn0Kp7zXhQ-sPA2uWaMFiC/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-3</a> </th>
        <th><a href="https://drive.google.com/file/d/1aaB7vOEw_Wn9puVUfyH53xWdBgHObCc4/view?usp=sharing">Unit-3</a></th>

    </tr>
    <tr>
        <th>4.</th>
        <th><a href="https://drive.google.com/file/d/1eDf3QHi_WknjIw4o0QAf4TY6pHMTFzTI/view?usp=sharing">Unit-4</a> <br>
        <a href="https://docs.google.com/document/d/15upCShCpp6wn0Kp7zXhQ-sPA2uWaMFiC/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-4</a></th>
        <th><a href="https://drive.google.com/file/d/1aaB7vOEw_Wn9puVUfyH53xWdBgHObCc4/view?usp=sharing">Unit-4</a><br>
        <a href="https://drive.google.com/file/d/1y7l-o2O2ZlteW9TZQxbUNC0CjlKAN6c8/view?usp=sharing">Unit-4_1</a><br>
        <a href="https://drive.google.com/file/d/1QN3kJ8S6_oL9svTMcY1Dz3BZfNhtFonY/view?usp=sharing">Unit-4_2</a></th>
    </tr>
    <tr>
        <th>5.</th>
        <th><a href="https://docs.google.com/document/d/15upCShCpp6wn0Kp7zXhQ-sPA2uWaMFiC/edit?usp=sharing&ouid=100729378787125194756&rtpof=true&sd=true">Unit-5</a></th>
        <th><a href="https://drive.google.com/file/d/1aaB7vOEw_Wn9puVUfyH53xWdBgHObCc4/view?usp=sharingf">Unit-5</a><br>
        <a href="https://drive.google.com/file/d/1QN3kJ8S6_oL9svTMcY1Dz3BZfNhtFonY/view?usp=sharing">Unit-5_1</a><br>
    <a href="https://drive.google.com/file/d/1NxESUPPWa-1RfN6GWFU7oOizhtjz87gK/view?usp=sharing">Unit-5_2</a></th>          
    </tr>

</table>
</body>
</html>
